<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="robots" content="noindex,nofollow"> 
    <meta name="googlebot" content="noindex,nofollow">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  {% include "partials/global/meta-info.njk" %}
  <script>document.documentElement.classList.remove('no-js');</script>
  <style>{% include "assets/css/global.css" %}</style>
  {% block head %}
  {% endblock %}
</head>
<body>
   <score-app style="position: relative; overflow-y: auto;">
        <!---->
        <score-storage role="presentation"></score-storage>
        <score-tracker tracker="" role="presentation"></score-tracker>
        <score-pointer aria-hidden="true" role="presentation" style="transform: translate(-1000px, -1000px)" class="IB">
            <!---->
            <div class="Ho">
                <div class="Hp">
                    <div></div>
                </div>
            </div>
            <!---->
        </score-pointer>
        <score-scrollbar aria-hidden="true" role="presentation" style="display: none">
            <!---->
            <div class="scroll-container">
                <div class="scroll-face" style="top: 0px; height: 106.4px"></div>
                <div class="scroll-track"></div>
                <div class="scroll-button">
                    <div class="Hp">
                        <div></div>
                    </div>
                </div>
            </div>
            <!---->
        </score-scrollbar>
           <meter-nav-header class="Iv" end="1" iv="51" ln="500" lz="1024" role="presentation" start="0" style="transform: translateY(0px)" tabindex="-1">
        {% include "partials/global/meter-nav-header.njk" %}
        </meter-nav-header>
             <score-stage role="presentation">
          <meter-view class="Ab GH ssr" role="presentation">
                <main class="GH">
  {% block content %}
  {% endblock content %}
      </main>
        </meter-view></score-stage>
  {% include "partials/global/meter-nav-footer.njk" %}
  {% block foot %}
  {% endblock %}
  </score-app>
  <script type="module" src="/js/components/theme-toggle.js" async defer></script>
  <script type="text/javascript" src="/js/components/meter-nav-header.js" async defer></script>
  {# <script type="text/javascript" src="/js/main.js" async defer></script> #}
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
</body>
</html>
